.phone {
    width: 135px;
    height: 40px;
    margin-top: 24px;
    display: flex;
    padding-top: 8px;
    justify-content: center;
    border-radius: 4px;
    color: #fff;
    border: none;
    background-color: #3A95FF;    
}